python-docx==1.1.2
python-dotenv==0.15.0  # Use the correct version number here
streamlit==1.16.0
xlsxwriter==3.0.9  # Update to a valid version
Pillow>=10.0.0
numpy==1.26.4
pandas==1.5.3
requests==2.31.0
PyPDF2==3.0.1
langdetect==1.0.9
tenacity==8.2.3
